* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 15, 15);
    background-image: url(../../assets/Back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 #carouselExampleDark {
    padding: 30px;
    
    
 }
 
 .formulario {
    padding: 30px;
    padding-bottom: 190px;
    
 }

 .info {
    text-align: center;
    padding: 200px;
    color: rgb(255, 255, 255);
    h1 {
        font-size: 5em;
    }
 }

  @media (max-width: 930px) {
    .info {
      text-align: center;
      color: rgb(255, 255, 255);
      h1 {
          font-size: 2em;
      }
   }

  }

  @media (max-width: 480px) {
    .info {
      padding: 0px;
      padding-bottom: 200px;
      padding-top: 200px;
      text-align: center;
      color: rgb(255, 255, 255);
      h1 {
          font-size: 0.5em;
      }
   }

  }

 .text-center {
    color: aliceblue;
 }
 
 h1 {
   text-align: center;
   color: aliceblue;
 }

 .login {
   text-align: center;
   margin: 50px;
   margin-bottom: 300px;
   padding-bottom: 150px;
 }

  .containergrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 145px;
    padding-top: 145px;
    
    
  }
 

 
   

  .contacc {

    color: aliceblue;
    padding: 20px;
  }
   

  
  
  
   @media (max-width: 1120px) {

      .containergrid {
         display: flex;
        flex-direction: column;
         justify-content: center;
         align-items: center;
         
      }
      
    }
 
   

 

    .login1 {
      display: flex;
      justify-content: center;

    .login {
      width: 300px;
      background-color: rgb(25, 182, 187);
      border: 1px;
      border-color: black;
      

    }
   }
 
 
 
    /*

 .contac-content {

   display: flex;
   justify-content: space-between;
   

   .d-flex {
      border: 0ch;
      padding: 0ch;
      display: flex;
      justify-content: start;
      padding: 50px;

   }
   .mapa {
      display: flex;
      justify-content: end;
      padding: 50px;
   }
 }

 */

 
  
  .formulario{
    padding: 0;
    
  }
  .mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 20px;
    
  }

  @media (max-width: 620px) {

    .mapa {
      display: flex;
      justify-content: center;
      
    }
  }



 