* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 15, 15);
    background-image: url(../../assets/Back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 #carouselExampleDark {
    padding: 30px;
    
    
 }
 
 .formulario {
    padding: 30px;
    padding-bottom: 190px;
    
 }

 .info {
    text-align: center;
    padding: 200px;
    color: rgb(255, 255, 255);
    h1 {
        font-size: 5em;
    }
 }

 .text-center {
    color: aliceblue;
 }
 
 h1 {
   text-align: center;
 }